@charset "UTF-8";
@import "variables";
// homePage
.homePage {
    & .owlCarousel {
        & .contentimage {
            & img {
            }
            & .contentHome {
                top: 50%;
                left: 47%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                color: $white;
                & .subHeading {
                    letter-spacing: 5px;
                    font-size: 20px;
                    font-weight: 400;
                }
                & .mainHeading {
                    margin-bottom: 20px;
                    font-size: 60px;
                    font-weight: 700;
                }
            }
        }
        & .owl-nav {
            display: flex;
            gap: 7px;
            position: absolute;
            width: 100%;
            top: 40%;
            justify-content: space-between;
            & .owl-prev {
                margin-left: 10px;
                & span {
                    border-radius: 5px;
                    width: 30px;
                    height: 30px;
                    background-color: $theme1;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.6;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            & .owl-next {
                margin-right: 10px;
                & span {
                    border-radius: 5px;
                    width: 30px;
                    height: 30px;
                    color: $white;
                    background-color: $theme1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.6;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
// sectionpackage
.sectionpackage {
    & .listNav {
        & .nav-pills {
            & .nav-item {
                & .nav-link {
                    background-color: transparent;
                    color: $black;
                    font-size: 16px;
                    font-weight: 400;
                    border-radius: 30px;
                    border: 1px solid #6c757d82;
                    transition: all 0.3s ease-in-out;
                    &.active {
                        border-color: $theme1;
                        color: $theme1;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    & .maintancontent {
        & .maincard {
            & .imagecard {
                width: 86px;
                height: 86px;
                object-fit: cover;
                position: relative;
                transition: all 0.5s ease-in-out;
                border-radius: 0.375rem;
                overflow: hidden;
                & img {
                }
                &:hover {
                    transition: all 0.5s ease-in-out;
                    & img {
                        transform: scale(1.2);
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
        & .card-body {
            & .card-title {
                font-size: 14px;
                line-height: 25px;
                font-weight: 600;
                color: $black;
                margin-bottom: 0;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $theme1;
                }
            }
            & .card-text {
                font-size: 13px;
                line-height: 26px;
                color: gray;
            }
        }
    }
}
// travelStories
.travelStories {
    & .travelCard {
        & .card-image {
            position: relative;
            transition: all 0.5s ease-in-out;
            border-radius: 0.375rem;
            overflow: hidden;
            & img {
            }
            &:hover {
                transition: all 0.5s ease-in-out;
                & img {
                    transform: scale(1.2);
                    transition: all 0.5s ease-in-out;
                }
            }
        }
        & .cardContent {
            & .travelDate {
                font-size: 14px;
                font-weight: 400;
                color: $gray-700;
            }
            & .titlecard {
                font-size: 16px;
                font-weight: 600;
                color: $black;
            }
        }
    }
}
// aboutIndiaSection
.aboutIndiaSection {
    & .aboutPerograph {
        font-size: 14px;
        font-weight: 400;
        color: #38404f;
    }
}
// recomendedSection
.recomendedSection {
    & .subHeading {
        font-size: 14px;
        font-weight: 400;
        color: $gray-700;
    }
    & .recommendedcard {
        & .card-image {
            position: relative;
            overflow: hidden;
            & img {
            }
            &:hover {
                transition: all 0.5s ease-in-out;
                & img {
                    transform: scale(1.2);
                    transition: all 0.5s ease-in-out;
                }
            }
        }
        & .card-body {
            & .card-title {
                font-size: 16px;
                font-weight: 600;
                color: $black;
            }
            & .destition {
                font-size: 14px;
                font-weight: 400;
                color: $gray-700;
            }
        }
    }
}
