@charset "UTF-8";
@import "variables";

.homePage {
    & .owlCarousel {
        & .contentimage {
            & img {
            }
            & .contentHome {
                top: 50%;
                left: 47%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                color: $white;
                & .subHeading {
                    letter-spacing: 5px;
                    font-size: 20px;
                    font-weight: 400;
                }
                & .mainHeading {
                    margin-bottom: 20px;
                    font-size: 60px;
                    font-weight: 700;
                }
            }
        }
        & .owl-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            position: absolute;
            bottom: 5px;
            right: 10px;
            & .owl-prev {
                margin-left: 10px;
                & span {
                    border-radius: 5px;
                    width: 30px;
                    height: 30px;
                    background-color: $theme1;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            & .owl-next {
                & span {
                    border-radius: 5px;
                    width: 30px;
                    height: 30px;
                    color: $white;
                    background-color: $theme1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.sectionpackage {
    & .heading {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    & .listNav {
        & .nav-pills {
            & .nav-item {
                & .nav-link {
                    background-color: transparent;
                    color: $black;
                    font-size: 16px;
                    font-weight: 400;
                    border-radius: 30px;
                    border: 1px solid #6c757d82;
                    &.active {
                        border-color: $theme2;
                        color: $theme2;
                    }
                }
            }
        }
    }
    & .maintancontent {
        & .maincard {
            & img {
            }
        }
        & .card-body {
            & .card-title {
                font-size: 15px;
                line-height: 25px;
                font-weight: 600;
                color: #38404f;
                margin-bottom: 0;
            }
            & .card-text {
                font-size: 15px;
                line-height: 26px;
                color: #38404f;
            }
        }
    }
}
